*
{
    margin:0;
    padding: 0;
 
}




body
{
    background-color:#e5e5fd;
}
.container-1 img
{
   
    padding-top: 50px;
    border-radius: 180px 340px;
    position: relative;
    left: 250px;
}
.container-1 h1
{
    position: relative;
    left: 500px;
    bottom: 100px;
    font-size: 3rem;
   
}
.container-1 h2
{
   font-size: 3rem;
   position: relative;
   left: 250px;
   bottom: 40px;
}
.container-2 p
{
    font-size: 1.2rem;
    line-height: 1.7rem;
    font-style: normal;
    padding: 10px 180px;
    margin-left: 80px;
   
    
}
.container-1 h5
{
    position: relative;
    left: 840px;
    bottom: 100px;
    font-size: 1.2rem;
}
.biography
{
    padding: 5px 270px;
}
.biography h2
{
    margin-right: 20px;
    
    position: relative;
    right: 28px;
    top: 24px;
}







.biography ul
{
    padding: 30px;
    font-size: 1.3rem;
    line-height: 2rem;
}

footer
{
    margin-left: 900px;
    padding: 20px 20px;
}